@model AppBranchCreateModel
@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <form asp-action="CreateBranch" asp-controller="Branch" method="post">
        <input asp-for="ClassId" type="hidden" />

        <div class="mb-3">
            <label>Şube İsmi :</label>
            <input asp-for="Class" type="text" />
            <label>/</label>
            <input asp-for="Branch" type="text" />

        </div>
        
            


            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Oluştur</button>
            </div>
            <div class="mb-3 text-bg-danger" asp-validation-summary="All">

            </div>
</form>
</div>