@model AppBranchListDto
@{
    Layout = "_Layout";
}

<div class="mb-3">

    <label>Sınıf :</label>

    <select asp-for="ClassId" onchange="setInputDisplay()" asp-items="@ViewBag.classes" class="form form-control-sm">
        <option value="0">Bir Sınıf Seçiniz</option>
    </select>
    <p id="myp"></p>

</div>



<div id="Haz" class="mb-3" style="display:none">
    @await Component.InvokeAsync("_BranchList", new { id = 1 })

</div>
<div id="Bir" class="mb-3" style="display:none">
    @await Component.InvokeAsync("_BranchList", new { id = 2 })

</div>
<div id="Iki" class="mb-3" style="display:none">
    @await Component.InvokeAsync("_BranchList", new { id = 3 })

</div>
<div id="Uc" class="mb-3" style="display:none">
    @await Component.InvokeAsync("_BranchList", new { id = 4 })

</div>
<div id="Dort" class="mb-3" style="display:none">
    @await Component.InvokeAsync("_BranchList", new { id = 5 })

</div>
<div id="Tamami" class="mb-3" style="display:none">
    @await Component.InvokeAsync("_BranchList", new { id =6 })

</div>


@section script {

    <script>
        setInputDisplay()
        function setInputDisplay()
        {
            var selectElement = document.getElementById("ClassId");
            
            var ClassId = selectElement.value;
            selectedDiv1 = document.getElementById("Haz");
            selectedDiv2 = document.getElementById("Bir");
            selectedDiv3 = document.getElementById("Iki");
            selectedDiv4 = document.getElementById("Uc");
            selectedDiv5 = document.getElementById("Dort");
            selectedDiv6 = document.getElementById("Tamami");
            selectedDiv7 = document.getElementById("Ekle");
            
            if (ClassId == 0) {
                selectedDiv1.style.display = "none";
                selectedDiv2.style.display = "none";
                selectedDiv3.style.display = "none";
                selectedDiv4.style.display = "none";
                selectedDiv5.style.display = "none";
                selectedDiv6.style.display = "none";
                //selectedDiv7.style.display = "none";
            }
            if (ClassId == 1) {
                selectedDiv1.style.display = "block";
                selectedDiv2.style.display = "none";
                selectedDiv3.style.display = "none";
                selectedDiv4.style.display = "none";
                selectedDiv5.style.display = "none";
                selectedDiv6.style.display = "none";
                //selectedDiv7.style.display = "block";

            }
            if (ClassId == 2) {
                selectedDiv1.style.display = "none";
                selectedDiv2.style.display = "block";
                selectedDiv3.style.display = "none";
                selectedDiv4.style.display = "none";
                selectedDiv5.style.display = "none";
                selectedDiv6.style.display = "none";
                //selectedDiv7.style.display = "block";

            }
            if (ClassId == 3) {
                selectedDiv1.style.display = "none";
                selectedDiv2.style.display = "none";
                selectedDiv3.style.display = "block";
                selectedDiv4.style.display = "none";
                selectedDiv5.style.display = "none";
                selectedDiv6.style.display = "none";
                //selectedDiv7.style.display = "block";

            }
            if (ClassId == 4) {
                selectedDiv1.style.display = "none";
                selectedDiv2.style.display = "none";
                selectedDiv3.style.display = "none";
                selectedDiv4.style.display = "block";
                selectedDiv5.style.display = "none";
                selectedDiv6.style.display = "none";
                //selectedDiv7.style.display = "block";

            }
            if (ClassId == 5) {
                selectedDiv1.style.display = "none";
                selectedDiv2.style.display = "none";
                selectedDiv3.style.display = "none";
                selectedDiv4.style.display = "none";
                selectedDiv5.style.display = "block";
                selectedDiv6.style.display = "none";
                //selectedDiv7.style.display = "block";

            }
            if (ClassId == 6) {
                selectedDiv1.style.display = "none";
                selectedDiv2.style.display = "none";
                selectedDiv3.style.display = "none";
                selectedDiv4.style.display = "none";
                selectedDiv5.style.display = "none";
                selectedDiv6.style.display = "block";
                //selectedDiv7.style.display = "block";

            }

        }

    </script>


}
