
@{
    Layout = "_Layout";
}

<div class="container">

    <ul class="list-group">
        <li class="list-group-item">Akdem Db Sql Tabloları</li>


        <li class="list-group-item list-group-item-primary"><a asp-action="GetAppBranches" asp-controller="Developer">AppBranches</a></li>
        
        <li class="list-group-item list-group-item-success"><a asp-action="GetGraduatedStudents" asp-controller="Developer">AppGraduateds</a></li>
        <li class="list-group-item list-group-item-danger"><a asp-action="GetAppLessons" asp-controller="Developer">AppLessons</a></li>
        
        <li class="list-group-item list-group-item-info"><a asp-action="GetAppScheduleDetails" asp-controller="Developer">AppScheduleDetails</a></li>
        <li class="list-group-item list-group-item-light"><a asp-action="GetAppSchedules" asp-controller="Developer">AppSchedules</a></li>
        <li class="list-group-item list-group-item-dark"><a asp-action="GetAppSessionBranches" asp-controller="Developer">AppSessionBranches</a></li>
        <li class="list-group-item list-group-item-info"><a asp-action="GetAppSessions" asp-controller="Developer">AppSessions</a></li>
        
        <li class="list-group-item list-group-item-secondary"><a asp-action="GetAppUsers" asp-controller="Developer">AppUsers</a></li>
        
        <li class="list-group-item list-group-item-light"><a asp-action="GetAppuserSessionLessons" asp-controller="Developer">AppUserSessionLessons</a></li>
        <li class="list-group-item list-group-item-info"><a asp-action="GetAppUserSessions" asp-controller="Developer">AppUserSessions</a></li>
        <li class="list-group-item list-group-item-danger"><a asp-action="GetAppUserWarnings" asp-controller="Developer">AppWarnings</a></li>









    </ul>

</div>