@model AppStudentCreateModel
@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <form asp-action="CreateStudent" asp-controller="User" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label>İsim :</label>
            <input asp-for="FirstName" type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Soyisim :</label>
            <input asp-for="SecondName" type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-check-label">Mail Adresi :</label>
            <input asp-for="Email" type="email" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Telefon Numarası :</label>
            <input asp-for="PhoneNumber" type="tel" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Görsel :</label>
            <input type="file" asp-for="ImagePath" class="form-control" />
        </div>
        <br />



        <div class="mb-3">

            <label>Sınıf :</label>
            <select id="classes" onchange="setInputDisplay()" asp-for="ClassId" asp-items="ViewBag.classes">
                <option value="">-- Sınıf Seçin --</option>
            </select>

        </div>
        <br />




        <div class="mb-3" style="display:none" id="branchDiv">

            <label>Şube :</label>

            <select id="branches"  asp-for="BranchId" asp-items="ViewBag.branches">
                <option value="">-- Şube Seçin --</option>
            </select>
        </div>



        <br />

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Kaydet</button>
        </div>



        <div class="mb-3 text-bg-danger" asp-validation-summary="All">

        </div>
    </form>
</div>
@section script {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#classes').change(function () {
                var sinifId = $(this).val();

                // AJAX kullanarak seçilen sınıfa ait şubeleri getir
                $.get('/User/GetBranches', { classId: sinifId }, function (data) {
                    // Şubeleri güncelle
                    $('#branches').empty();
                    $('#branches').append($('<option>', {
                        value: '',
                        text: '-- Şube Seçin --'
                    }));
                    $.each(data, function (index, item) {
                        $('#branches').append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                });
            });
        });

        /*setInputDisplay()*/
        function setInputDisplay() {
            var selectElement = document.getElementById("classes");
            
            selectedDiv = document.getElementById("branchDiv");
            selectedDiv.style.display = "block";

   
        }

    </script>
}





