
@model AppStudentUpdateModel
@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <form asp-action="UpdateStudent" asp-controller="User" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="ImagePath2" type="hidden" />
        <input asp-for="Password" type="hidden" />


        <div class="mb-3">
            <label><strong>İsim:</strong></label>
            <input asp-for="FirstName" type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label><strong>Soyisim:</strong></label>
            <input asp-for="SecondName" type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label><strong>Sıra No:</strong></label>
            <label asp-for="SıraNo">@Model.SıraNo</label>
            
        </div>
        <div class="mb-3">
            <label class="form-check-label"><strong>Mail Adresi:</strong></label>
            <input asp-for="Email" type="email" class="form-control" />
        </div>
        <div class="mb-3">
            <label><strong>Telefon Numarası:</strong></label>
            <input asp-for="PhoneNumber" type="tel" class="form-control" />
        </div>
        <div class="mb-3">
            <label><strong>Görsel:</strong></label>
            <div class="mb-2">
                <img src="@Model.ImagePath2" height="150" width="150" />

            </div>
            <input type="file" asp-for="ImagePath" class="form-control" />
            <br />
            <div class="mb-3">

                <label><strong>Sınıf:</strong></label>
                <label asp-for="ClassId" >@(Model.ClassId==0 ? "Hazırlık" :$"{Model.ClassId - 1}. Sınıf" ) </label>
                <input type="hidden" asp-for="ClassId" readonly class="form-control" />



            </div>
            <br />




            <div class="mb-3" style="display:block" id="branchDiv">

                <label><strong>Şube:</strong></label>

                <select id="branches" asp-for="BranchId" asp-items="ViewBag.branches">
                    <option value="">-- Şube Seçin --</option>
                </select>
            </div>



            <br />


        </div>


        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Güncelle</button>
        </div>
        <div class="mb-3 text-bg-danger" asp-validation-summary="All">

        </div>
    </form>
</div>

@*@section script {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            var sinifId = $("#classes").val();

            // AJAX kullanarak seçilen sınıfa ait şubeleri getir
            $.get('/User/GetBranches', { classId: sinifId }, function (data) {
                
                updateBox(data);
            
            $('#classes').change(function () {
                var sinifId = $(this).val();

                // AJAX kullanarak seçilen sınıfa ait şubeleri getir
                $.get('/User/GetBranches', { classId: sinifId }, function (data) {
                    // Şubeleri güncelle
                    updateBox(data);
                });
            });




            });
        });
                    function updateBox(data) {
                        $('#branches').empty();
                        $('#branches').append($('<option>', {
                            value: '',
                            text: '-- Şube Seçin --'
                        }));
                        $.each(data, function (index, item) {
                            $('#branches').append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    }
                  


               

         

        

    </script>
}*@
