@model UpdatePasswordModel
@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <h2>Şifre Güncelleme</h2>
    <hr />
    <form asp-action="UpdatePassword" asp-controller="Account" asp-route-userId="@Model.UserId" method="post">
        

        <div class="mb-3">
            <label>Mevcut Şifreniz:</label>
            <input asp-for="ExPassword" type="password" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Yeni Şifreniz :</label>
            <input asp-for="NewPassword" type="password" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Şifre Tekrarı :</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
        </div>
        
        <br />


        <div class="mb-3">
            <button class="btn btn-success" type="submit">Kaydet</button>
        </div>



        <div class="mb-3 text-bg-danger" asp-validation-summary="All">

        </div>
    </form>
    <hr />
    <div class="col-md-2 ">
        <a style="color:navy; text-decoration:underline;" asp-action="ChangePP" asp-controller="Account" asp-route-id="@Model.UserId">Profil Fotoğrafı</a>

    </div>
</div>