@model List<AppSessionListDto>
@{
    Layout = "_Layout";
}

<div class="mt-2">
    <h1>DÖNEMLER</h1>
</div>
<table class="mt-3 table table-sm table-hover">
    <thead>
        <tr>
            <th>Dönem Adı</th>
            <th>Durumu</th>
            <th>İşlem</th>
            <th>Not</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Definition</td>


            <td>@(item.Status? "Aktif":"Pasif")</td>
            @if (item.Status)
            {
                <td><a asp-action="ChangeStatus" asp-controller="Session" asp-route-id="@item.Id" class="btn btn-danger">Pasifleştir</a></td>
                <td>---</td>
            }
            else
            {
                <td><a asp-action="ChangeStatus" asp-controller="Session" asp-route-id="@item.Id" class="btn btn-primary">Aktifleştir</a></td>
                <td>Döneme dair Ekleme/Silme/Güncelleme İşlemleri YAPILAMAZ!</td>



            }
        </tr>
        }
    </tbody>

</table>
<a asp-action="CreateSession" asp-controller="Session" class="mt-2 btn btn-primary">Yeni Dönem Ekle</a>
