
@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="mb-3">
        <a asp-action="Index" asp-controller="Schedule" asp-route-id="@ViewBag.id" class="btn btn-success">DERS PROGRAMLARI</a>
    </div>
</div>
